.slider {
    overflow-y: scroll;
    padding: 1em;
    height: 100%;
}

.slider-x {
    overflow-x: scroll;
}

.cell {
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 30px;
}

.tableCell {
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 5px;
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb
}

.tableSuccessCell {
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 5px;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb
}

.tableFailCell {
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 5px;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb
}

table.table-bordered{
    table-layout: fixed;
    word-wrap: break-word;
    max-width: 1000%;
    border:1px solid black;
    margin-top:20px;
}
table.table-bordered > thead > tr > th{
    border:1px solid black;
    width: 200px;
}
table.table-bordered > tbody > tr > td{
    border:1px solid black;
    width: 200px;
}